#-- python 3.8 --

opencv-python
Pillow
pytz
PyYAML
yacs
termcolor
tqdm
terminaltables
pycocotools


### cudatoolkit, torch
# conda create -n mask python=3.8 pytorch==1.10.0 cudatoolkit=10.2 torchvision -c pytorch -y
# conda activate mask

## install MMDetection manually
# pip install mmcv-full -f https://download.openmmlab.com/mmcv/dist/cu102/torch1.10.0/index.html
# pip install mmdet         # custom mmdet로 대체했음       

# pip install -r requirements.txt
