#-*- coding: utf-8 -*- 

opencv-python
Pillow
pytz
PyYAML
yacs
termcolor
tqdm
terminaltables
pycocotools


### cudatoolkit, torch
# conda create -n test python=3.8 pytorch==1.10.0 torchvision cudatoolkit=11.3 -c conda-forge -y      
# conda activate mask

## install MMDetection manually
# pip install mmcv-full -f https://download.openmmlab.com/mmcv/dist/cu113/torch1.11.0/index.html
# pip install mmdet         # custom mmdet로 대체했음       


# pip install -r requirements.txt
